
/venv
/sklearn-env
Time_series/ignore/MergeCSV.py
Time_series/Data/k_t_12_2023.csv
Time_series/Data/k_t_11_2023.csv
Time_series/Data/k_t_10_2023.csv
Time_series/Data/k_t_09_2023.csv
Time_series/Data/k_t_08_2023.csv
Time_series/Data/k_t_07_2023.csv
Time_series/Data/k_t_06_2023.csv
Time_series/Data/k_t_05_2023.csv
Time_series/Data/k_t_04_2023.csv
Time_series/Data/k_t_03_2023.csv
Time_series/Data/k_t_02_2023.csv
Time_series/Data/k_t_01_2023.csv
Time_series/Data/k_t_00_Header.csv
*.ini
